.homepage {
  position: relative;
  background-color: white;
  height: 100vh;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .landing-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    color: $primary-color2;
    margin: 0;
    font-size: 12em;
    text-align: center;
    font-family: EB Garamond;
  }

  h2 {
    color: $primary-color2;
    margin: 0;
    text-align: center;
  }

  .control-btns {
    justify-content: center;
    display: flex;
    margin: 1.5em;
    gap: 1em;
  }
}
