.nav {
  width: 18em;
  background-color: $primary-color4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .sideview {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    h2 {
      text-align: center;
    }

    a {
      display: flex;
      color: $secondary-color1;
      font-size: 1em;
      align-items: center;
      justify-content: center;
    }
    
    a:hover{
      font-weight: 900;
    }
  }
}

.logo {
  margin: .5em .5em .25em .5em;
  will-change: filter;
  transition: filter 300ms;
  font-size: 5em;
}

.logo a {
  color: $secondary-color1;
}