.top-button {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 6rem;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s;
  justify-content: center;
  align-items: center;
}

.top-button.show {
  display: flex;
  justify-content: center;
  align-items: center;
}