#root {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}